{% extends 'component/base.html' %}
{% load static %}


{% block title %} Password cambiata {% endblock %}

{% block main %}
    <main class="relative min-h-screen flex items-center justify-center">
        <!-- BACKGROUND FX -->
        <div class="absolute inset-0">
            <div class="absolute inset-0 bg-[radial-gradient(circle_at_30%_30%,rgba(0,200,255,0.25),transparent_60%)]"></div>
            <div class="absolute inset-0 bg-[radial-gradient(circle_at_70%_70%,rgba(255,0,150,0.25),transparent_60%)]"></div>
            <div class="absolute inset-0 backdrop-blur-3xl"></div>
        </div>
        <div class="relative z-10 w-full max-w-md">
            <div class="p-10 rounded-3xl bg-white/5 border border-white/10 backdrop-blur-xl shadow-2xl">

                <div class="relative group">
                    <div class="absolute rounded-xl bg-gradient-to-r from-purple-500/30 to-pink-600/30 blur opacity-0 group-focus-within:opacity-100 transition-opacity"></div>
                    <p style="text-align:center">
                        Password cambiata con successo, ora puoi rieseguire la <a href="/login" style="color:blue">login</a>
                    </p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
